process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}/tables" },
        mode: params.publish_dir_mode,
        pattern: "*.tsv"
    ]

    publishDir = [
        path: { "${params.outdir}/all_tables" },
        mode: params.publish_dir_mode,
        pattern: "*.tsv"
    ]

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}/panels" },
        mode: params.publish_dir_mode,
        pattern: "*.pdf"
    ]

    publishDir = [
        path: { "${params.outdir}/all_panels" },
        mode: params.publish_dir_mode,
        pattern: "*.pdf"
    ]

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}/notebooks" },
        mode: params.publish_dir_mode,
        pattern: "*.html"
    ]

    publishDir = [
        path: { "${params.outdir}/all_notebooks" },
        mode: params.publish_dir_mode,
        pattern: "*.html"
    ]

}
